.font-Arial {
  font-family: Arial, Helvetica, sans-serif;
}

.text-bold {
  font-weight: bold;
}

.text-green {
  color: green;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}
